body {
    background-color: rgb(70, 36, 36);
   color:white;
   font-family: fantasy;
    margin-bottom: 100px;
}
header{
    border-bottom: soli 2px rgb(255, 255, 255);
padding: 26px; 
font: size 30px; 
color:blanchedalmond;

}

section {
    background-color: rgb(196, 13, 13);
    padding-bottom: 88px;
    padding-top: 88px;
    display: flex;
justify-content: center;
}
.chamada-texto {
margin-right: 5% ;   ]
}

-h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}